/* var */
:root {
  --primary-color: rgb(88, 87, 87, 0.6);
  --secondary-color-white: #ffffff;
  --button-color-green: #7bc378;
  --button-color-red: #c84d56;
}

/* reset all default elements */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background: -webkit-linear-gradient(to left, #fbd786, #659999);
  background: linear-gradient(to left, #fbd786, #659999);
}

/* base styles */

main {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.shape {
  background-color: var(--primary-color);
  padding: 40px;
  border-radius: 50px;
  border: none;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  /* background-color: #fbd786; */
  gap: 20px;
  /* background-color: var(--secondary-color-white); */
}

.card-content {
  background-color: var(--secondary-color-white);
  padding: 20px;
  color: black;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex-grow: 1;
}

.card-item {
  /* min-width: 30%; */
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.card-item > button {
  background-color: var(--button-color-red);
  font-size: 15px;
  padding: 5px;
  color: white;
  border: none;
  width: 100px;
  border-radius: 20px;
}

#buttonFinished {
  background-color: var(--button-color-green) !important;
}

.card-button > button {
  background: none;
  border: none;
}

.fa-pen-to-square:hover {
  color: var(--button-color-red);
}
.fa-trash:hover {
  color: var(--button-color-red);
}
.fa-check-to-slot:hover {
  color: var(--button-color-red);
}
.fa-rotate-left:hover {
  color: var(--button-color-red);
}

.card-item > h3,
p {
  margin: 0;
  padding: 0;
}

.card-image > img {
  width: 80%;
  border-radius: 10px;
  object-fit: cover;
}

input[type="text"],
input[type="number"] {
  margin-top: 5px;
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  border-color: none;
  border-width: 0;
  /* height: 20px; */
  gap: 20px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px unset inset;
  transition: background-color 5000s ease-in-out 0s;
}

label {
  text-align: left;
}

#reading-books {
  width: 80%;
}

/* font styles */

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0 50px;
}

h1 {
  font-size: 3em;
  margin: 0;
}
h2 {
  font-size: 2em;
  margin: 0;
}
h3 {
  font-size: 1.5em;
  margin: 0;
}
p {
  font-size: 1em;
  margin: 0;
}

h1,
h2,
label {
  color: white;
}

#readEmptyContent {
  color: white;
  font-weight: 300;
  font-size: 18px;
}

#finishEmptyContent {
  color: white;
  font-weight: 300;
  font-size: 18px;
}

/* mobile styles */

.container-FormInput {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  color: white;
}

.container-FormInput > header {
  margin: 0;
  text-align: center;
  line-height: 50px;
}

.form-button {
  margin-top: 20px;
  text-align: center;
}

.form-button > button {
  margin-top: 20px;
  padding: 10px;
  background-color: var(--button-color-green);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 15px;
  font-weight: bold;
}

.form-button > button:hover {
  background-color: #386868;
}

.wrapper {
  font-size: 20px;
  text-align: center;
}

.container-editForm > h2 {
  text-align: center;
}

.container-editForm {
  display: none;
}

.search-container {
  /* width: 100%; */
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  border-radius: 10px;
}

.search-container > i {
  position: relative;
  right: 10px;
}

.search-container > input {
  width: 90%;
  border: none;
  outline: none;
  background-color: transparent;
}

.search-container > input::-webkit-search-cancel-button {
  background-color: transparent;
  visibility: hidden;
}

.search-container > button {
  background-color: transparent;
  border: none;
}

#clearSearchButton {
  background-color: orange;
  border: none;
  outline: none;
  color: white;
  padding: 10px;
  border-radius: 20px;
  margin-top: 20px;
}

.empty-searchContent {
  color: white;
}

.container-search{
  display: flex;
  flex-direction: column;
    /* justify-content: space-between; */
  gap: 30px;
}

/* Tablet Styles */

@media screen and (min-width: 620px) {
  .card-content {
    flex-direction: row;
  }

  .card-item {
    align-items: unset;
    text-align: left;
    max-width: 80%;
  }

  .card-image > img {
    width: 120px;
  }
}

/* Large tablets & laptop styles */

@media screen and (min-width: 960px) {
  body {
    /* max-width: 4920px; */
    /* max-width: 1024px */
  }

  main {
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-areas: 
    "form form  search"
    "notread  read  search"
    "footer footer footer";
    grid-template-columns: 350px 350px 350px;
    /* grid-template-columns: repeat(autofit, min-max(200px, 1fr)); */
    grid-template-rows: 5fr auto;
  }

  h2 {
    font-size: 25px;
  }

  .shape {
    padding: 25px;
  }


  .card-content {
    font-size: 12px;
    padding: 10px;
    gap: 10px;
  }

  .card-item > h3 {
    font-size: 12px;
  }

  .card-item {
    /* background-color: blanchedalmond; */
    width: 800px;
  }

  .card-button {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .card-item > button {
    width: 100%;
    height: 100%;
    font-size: 10px;
  }
  .card-image > img {
    width: 80px;
  }

  .container-form {
    grid-area: form;
    /* width: 80%; */
  }

  .container-search {
    grid-area: search;
    
    /* width: 100%; */
  }

  .container-unfinished {
    grid-area: notread;
    /* place-content: center; */
    /* width: 80%; */
  }

  .container-finished {
    grid-area: read;
    /* place-content: center; */
    /* width: 80%; */
  }

  .container-searchResults {
    height: 100%;
    /* margin-top: -200px; */
  }

  .footer-container {
    grid-area: footer;
    text-align: center;
    color: white;
    padding: 5px;
  }
}

/* Dekstop */

@media screen and (min-width: 1200px) {
}
